body {
    background-color:rgb(113, 113, 255);
  }
  .ball {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    animation: dws-bounce 3s linear infinite,
    dws-moveleft 25s linear infinite;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes dws-bounce {
    0% {bottom: 100%; 
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);}
    25%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);}
    30%{bottom: 0%; 
        width: 110px; 
        height: 25px; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);}
    35%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);}
    50% {bottom: 50%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);}
    65%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);}
    70%{bottom: 0%; 
        width: 110px; 
        height: 25px; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);}
    75%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);}
    80% {bottom: 25%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); animation-timing-function: ease-out;}
    85%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7); animation-timing-function: ease-out;}
    90%{bottom: 0%; 
        width: 110px; 
        height: 75px; 
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8); animation-timing-function: ease-out;}
    95%{bottom: 0%; 
        width: 100px; 
        height: 100px; 
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7); animation-timing-function: ease-out;}
    100% {bottom: 0%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5); animation-timing-function: ease-out;}
  }
  @keyframes dws-moveleft{
    from{left: 0;}
    to{left: 800%;}
  }
